<div class="card">
  <div class="card-body">
    <div class="mt-5">
      <label class="form-label">Hình đại diện mặc định</label>
      <div class="input-group ">
        <input type="text" class="form-control" disabled />
        <span class="input-group-text cursor-pointer" (click)="userFile.click()">Chọn
          <input type="file" (change)="changeInputFile('user', $event)" #userFile class="d-none">
        </span>
      </div>
    </div>

    <div class="mt-5">
      <label class="form-label">Hình nền đăng nhập</label>
      <div class="input-group ">
        <input type="text" class="form-control" disabled />
        <span class="input-group-text cursor-pointer" (click)="loginAdminFile.click()">Chọn
          <input (change)="changeInputFile('loginAdmin', $event)" type="file" #loginAdminFile class="d-none">
        </span>
      </div>
    </div>


    <div class="row mt-5 text-end">
      <div class="col-md-12">
        <button (click)="onSave()" [disabled]="isLoading$ | async" class="btn btn-primary" type="submit">Lưu</button>
      </div>
    </div>
  </div>
</div>