<h2 mat-dialog-title class="text-center">
    <span>Bài viết của</span> nhóm người dùng
</h2>
<div class="separator my-5"></div>
<div>
    <div class="pl-0 h-100" mat-dialog-content >
        
        <div class="mb-5">
            
            <label for="name" class="form-label required">Nhóm người dùng</label>
            <input id="name" type="text" class="form-control form-control-solid" />
        </div>

        <div class="table-responsive">
            <table class="table align-middle table-row-dashed fs-6 gy-5 mt-5 mb-10">
                <thead>
                    <tr>
                        <th>Chức năng</th>
                        <th class="text-center w-75px">Hiển thị</th>
                        <th class="text-center w-75px">Thêm</th>
                        <th class="text-center w-75px">Sửa</th>
                        <th class="text-center w-75px">Xóa</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>

    <div class="float-end" mat-dialog-actions>
        <button class="btn btn-sm btn-danger me-2" [mat-dialog-close]="false">Hủy bỏ</button>
        <button class="btn btn-sm btn-primary" [mat-dialog-close]>Xác nhận</button>
    </div>
</div>