<h2 mat-dialog-title>
    <span>Nhập dữ liệu</span>
</h2>
<div class="separator my-5"></div>
<form>
    <div class="pl-0" mat-dialog-content>
        <div class="mb-5">
            <label>Nếu bạn chưa có tệp mẫu. Hãy nhấn vào đây <a href="javascript:void(0)" (click)="onExportTemplate()">vào đây.</a></label>
        </div>

        <div class="mb-5">
            <label for="name" class="form-label required">Tệp</label>

            <div class="input-group mb-5">
                <input type="text" [(ngModel)]="fileName" [ngModelOptions]="{standalone: true}" class="form-control form-control-solid" readonly />
                <input type="file" (change)="onChangeImportFile($event)" #inputFile class="form-control form-control-solid d-none" />
                <button class="input-group-text" id="basic-addon2" (click)="inputFile.click()">Chọn tệp</button>
            </div>
        </div>
    </div>

    <div class="float-end" mat-dialog-actions>
        <button class="btn btn-sm btn-danger me-2" [mat-dialog-close]="false">Hủy bỏ</button>
        <button class="btn btn-sm btn-primary" [mat-dialog-close] (click)="onSubmit()">Xác nhận</button>
    </div>
</form>

<app-spinner-screen [isLoading]="isLoading$ | async"></app-spinner-screen>