<h2 mat-dialog-title>
    <span *ngIf="isCreate">Thêm mới</span>
    <span *ngIf="!isCreate">Cập nhật</span> khảo sát
</h2>
<div class="separator my-5"></div>
<form [formGroup]="formGroup" [appConnectForm]="surveyTemplate$ | async">
    <div class="pl-0" mat-dialog-content>
        <div class="mb-5">
            <label for="name" class="form-label required">Tên khảo sát</label>
            <input id="name" formControlName="name" type="text" class="form-control form-control-solid" />
        </div>

        <div class="mb-5">
            <label for="status" class="form-label required">Phân loại</label>
            <mat-select formControlName="type" class="form-control form-control-solid">
                <mat-option *ngFor="let option of drpSurveyTypes$| async" [value]="option.value">{{ option.text
                    }}</mat-option>
            </mat-select>
        </div>

        <div class="mb-5" *ngIf="!isCreate">
            <label for="status" class="form-label">Trạng thái</label>
            <mat-select formControlName="status" class="form-control form-control-solid">
                <mat-option *ngFor="let status of statuses" [value]="status.value">{{ status.text }}</mat-option>
            </mat-select>
        </div>

        <div class="mb-5">
            <label for="status" class="form-label fw-bolder">Câu hỏi khảo sát</label>
        </div>

    </div>

    <div class="float-end" mat-dialog-actions>
        <button class="btn btn-sm btn-danger me-2" [mat-dialog-close]="false">Hủy bỏ</button>
        <button class="btn btn-sm btn-primary" [disabled]="formGroup.invalid || (isLoading$ | async)" [mat-dialog-close]
            (click)="onSave()">Xác nhận</button>
    </div>
</form>