<div class="card shadow-sm">
  <div class="card-header">
    <h3 class="card-title">Danh sách sinh viên</h3>
  </div>
  <div class="card-body">
    <div class="table-responsive overflow-hidden">
      <form [formGroup]="formGroupSearch">
        <table class="table table-row-bordered ">
          <thead>
            <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
              <th class="w-50px">Ảnh</th>
              <th>Tên</th>
              <th class="w-150px">Số điện thoại</th>
              <th class="w-175px">Khóa học</th>
              <th>Ngành nghề</th>
              <th>Trạng thái</th>
              <th class="w-125px"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">
                <input formControlName="fullName" type="text" (change)="onSearch()" placeholder="Nhập tên sinh viên..."
                  class="form-control form-control-sm form-control-solid">
              </td>
              <td>
                <input type="text" formControlName="phone" (change)="onSearch()" placeholder="Nhập số điện thoại..."
                  class="form-control form-control-sm form-control-solid">
              </td>
              <td>
                <input type="text" formControlName="schoolYear" (change)="onSearch()" placeholder="Nhập khóa học..."
                  class="form-control form-control-sm form-control-solid">
              </td>
              <td>
                <select (change)="onSearch()" formControlName="majorId"
                  class="form-control form-control-sm form-control-solid">
                  <option value="">Tất cả</option>
                  <option *ngFor="let major of dropdownMajors$ | async" [value]="major.value">{{ major.text
                    }}</option>
                </select>
              </td>
              <td>
                <select (change)="onSearch()" formControlName="status"
                  class="form-control form-control-sm form-control-solid">
                  <option *ngFor="let status of searchStatuses" [value]="status.value">{{ status.text
                    }}</option>
                </select>
              </td>
              <td>
                <button (click)="onSearch()" class="btn btn-sm btn-primary">
                  <span class="svg-icon svg-icon-2 align-middle"
                    [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"></span>
                  Tìm kiếm
                </button>
              </td>
            </tr>

            <ng-container *ngIf="students$ | async as students;else emptyTable">
              <ng-container *ngIf="(totalStudent$ | async);else emptyTable">
                <tr *ngFor="let student of students" style="vertical-align: middle;">
                  <td>
                    <div class="symbol symbol-50px symbol-circle">
                      <img src="../../../assets/media/avatars/blank.png" alt="" />
                    </div>
                  </td>
                  <td>{{ student.fullName }}</td>
                  <td>{{ student.phone || '--' }}</td>
                  <td>{{ student.schoolYear || '--' }}</td>
                  <td>{{ student.majorName || '--' }}</td>
                  <td class="text-center">
                    <app-status-badge [status]="student.status" [statusName]="student.statusName"></app-status-badge>
                  </td>
                  <td>
                    <button title="Cập nhật" (click)="goEdit(student.id)" *ngIf="checkPermission(claimValue.Edit)"
                      class="btn btn-sm btn-light-primary btn-icon me-2">
                      <span class="svg-icon svg-icon-2"
                        [inlineSVG]="'./assets/media/icons/duotune/art/art008.svg'"></span>
                    </button>
                    <button (click)="goDelete(student)" title="Xóa" *ngIf="checkPermission(claimValue.Delete)"
                      class="btn btn-sm btn-light-danger btn-icon">
                      <span class="svg-icon svg-icon-2"
                        [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"></span>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
            <ng-template #emptyTable>
              <tr>
                <td colspan="5" class="text-center">
                  <span>Không tìm thấy dữ liệu theo yêu cầu</span>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap"
          [paginator]="(userView$ | async)?.paginator" (paginate)="paginate($event)"></app-paginator>
      </form>
    </div>
  </div>
</div>