<h2 mat-dialog-title *ngIf="survey$| async as survey">
    <span>{{ survey.name }}</span>
</h2>
<div class="separator my-5"></div>
<ng-container *ngIf="survey$ | async as survey">
    <div class="pl-0" mat-dialog-content>
        <table class="table table-row-dashed table-row-gray-300 gy-5">
            <tr class="fw-bolder fs-6">
                <th>Câu hỏi</th>
                <th class="w-100px text-center">Không hài lòng</th>
                <th class="w-100px text-center">Bình thường</th>
                <th class="w-100px text-center">Khá hài lòng</th>
                <th class="w-100px text-center">Rất hài lòng</th>
            </tr>
            <tbody>
                <tr *ngFor="let question of questions;let i=index">
                    <td>
                        <label class="required">{{i+1}}. {{ question.name }}</label>
                    </td>
                    <ng-container *ngIf="!question.isComment">
                        <td class="text-center">
                            <input type="radio" name="question_{{question.questionId}}" value="1"  (click)="inValidForm()" [(ngModel)]="question.point">
                        </td>
                        <td class="text-center">
                            <input type="radio" name="question_{{question.questionId}}" value="2" (click)="inValidForm()" [(ngModel)]="question.point">
                        </td>
                        <td class="text-center">
                            <input type="radio" name="question_{{question.questionId}}" value="3"  (click)="inValidForm()"[(ngModel)]="question.point">
                        </td>
                        <td class="text-center">
                            <input type="radio" name="question_{{question.questionId}}" value="4" (click)="inValidForm()" [(ngModel)]="question.point">
                        </td>
                    </ng-container>
                    <ng-container *ngIf="question.isComment">
                        <td colspan="4">
                            <textarea class="form-control form-control-sm form-control-solid" (change)="inValidForm()" [(ngModel)]="question.comment"></textarea>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="float-end" mat-dialog-actions>
        <button class="btn btn-sm btn-danger me-2" [mat-dialog-close]="false">Hủy bỏ</button>
        <button class="btn btn-sm btn-primary" [disabled]="inValidForm()" [mat-dialog-close] (click)="onSave()">Gửi</button>
    </div>
</ng-container>