<div class="card-header cursor-pointer" *ngIf="student">
    <div class="card-title m-0">
        <h3 class="fw-bold m-0">Danh sách thành tích</h3>
    </div>
    <button (click)="onCreate()" class="btn btn-sm btn-primary align-self-center">Thêm thành tích</button>
</div>
<div class="card-body p-9" *ngIf="student">
    <div class="timeline-label" *ngIf="studentAchievements$ | async as studentAchievements">
        <div class="timeline-item" *ngFor="let item of studentAchievements">
            <div class="timeline-label fw-bold text-gray-800 fs-6">
            </div>
            <div class="timeline-badge">
                <i class="fa fa-genderless text-primary fs-1"></i>
            </div>
            <div class="fw-mormal timeline-content  ps-3">
                <div class="d-block">
                    <span *ngIf=" item.fromDate" class="text-muted">
                        Bắt đầu: {{ item.fromDate | date:'MM/yyyy' }}
                    </span>
                    <span *ngIf=" item.toDate" class="text-muted">
                        - Kết thúc: {{ item.toDate | date:'MM/yyyy'}}
                    </span>
                </div>
                <label class="fw-bolder">{{ item.name }}</label><br>
                <small>{{ item.description }}</small>
            </div>
            <div>
                123
            </div>
        </div>
    </div>
</div>