<ng-container *ngIf="role$ | async as role">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header min-h-50px">
          <h2 class="pt-5">{{ role.name }}</h2>
        </div>
        <div class="card-body pt-0">
          <div class="d-flex flex-column text-gray-600">
            <div *ngFor="let menuPermission of role.menuPermissions" class="d-flex align-items-center mt-2 py-2">
              <span class="bullet bg-primary me-3"></span>{{ getDescriptionMenuPermission(menuPermission) }}
            </div>
            
            <div class="d-flex align-items-center py-2 d-none">
              <span class='bullet bg-primary me-3'></span>
              <em>and more...</em>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" *ngIf="checkPermission(claimValue.Edit)" class="btn btn-light btn-sm btn-active-primary" (click)="goEdit(role.id,false)">Cập
            nhật</button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header min-h-50px">
          <div class="card-title">
            <h2 class="d-flex align-items-center">Tài khoản được áp dụng
              <span class="text-gray-600 fs-6 ms-1">({{ (totalRoleUser$ | async) }})</span>
            </h2>
          </div>
          <div class="card-toolbar">
              <button *ngIf="checkPermission(claimValue.Edit)" type="button" class="btn btn-light btn-sm btn-primary" (click)="goAddRoleUser(role.id)">
                Thêm tài khoản
              </button>
          </div>
        </div>
        <div class="card-body pt-0">
          <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0">
            <thead>
              <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                <th class="min-w-30du00px">Tài khoản</th>
                <th class="min-w-125px">Ngày tạo</th>
                <th *ngIf="checkPermission(claimValue.Edit)"  class="text-end min-w-100px">Thao tác</th>
              </tr>
            </thead>
            <tbody class="fw-bold text-gray-600">
              <ng-container *ngIf="(totalRoleUser$ | async);else emptyTable">
                <tr *ngFor="let roleUser of roleUsers$ | async">
                  <td class="d-flex align-items-center">
                    <div class="d-flex flex-column">
                      <a href="javascript:void(0)"
                        class="text-gray-800 text-hover-primary mb-1">{{ roleUser.userName }}</a>
                      <span>{{ roleUser.email}}</span>
                    </div>
                  </td>
                  <td>{{ roleUser.createdAt | date:'hh:mm - dd/MM/yyyy' }}</td>
                  <td *ngIf="checkPermission(claimValue.Edit)"  class="text-end">
                    <button (click)="onDeleteSelectedUser(roleUser.id)" class="btn btn-sm btn-icon btn-danger">
                      <span class="svg-icon svg-icon-2 m-0"
                        [inlineSVG]="'assets/media/icons/duotune/general/gen027.svg'">
                      </span>
                    </button>
                  </td>
                </tr>
              </ng-container>
              <ng-template #emptyTable>
                <tr>
                  <td colspan="3" class="text-center">
                    <span>Không tìm thấy dữ liệu theo yêu cầu</span>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
          <app-paginator class="d-flex justify-content-between align-items-center flex-wrap"
            [paginator]="(roleUserView$ | async)?.paginator" (paginate)="paginate($event)"></app-paginator>
        </div>
      </div>
    </div>
  </div>

</ng-container>