<h2 mat-dialog-title>
  <span *ngIf="isCreate">Thêm mới</span>
  <span *ngIf="!isCreate">Cập nhật</span> nhóm người dùng
</h2>
<div class="separator my-5"></div>
<ng-container *ngIf="role$ | async as role">
  <form [formGroup]="formGroup" [appConnectForm]="role$ | async">
    <div class="pl-0" mat-dialog-content>
      <div class="mb-5">
        <label for="name" class="form-label required">Nhóm người dùng</label>
        <input id="name" formControlName="name" type="text" class="form-control form-control-solid" />
      </div>

      <div class="table-responsive">
        <table class="table align-middle table-row-dashed fs-6 gy-5 mt-5 mb-10">
          <thead>
            <tr>
              <th>Chức năng</th>
              <th class="text-center w-75px">Hiển thị</th>
              <th class="text-center w-75px">Thêm</th>
              <th class="text-center w-75px">Sửa</th>
              <th class="text-center w-75px">Xóa</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 fw-bold">
            <ng-container *ngIf=" permissionMenus$ | async as permissionMenus">
              <ng-container *ngFor="let menu of permissionMenus">
                <tr>
                  <td class="text-gray-800" class="cursor-pointer">
                    <ng-container *ngIf="menu.items && menu.items.length > 0">
                      <span class="svg-icon svg-icon-2" *ngIf="!menu.expand" (click)="menu.expand=!menu.expand"
                        [inlineSVG]="'assets/media/icons/duotune/arrows/arr071.svg'"></span>
                      <span class="svg-icon svg-icon-2" *ngIf="menu.expand" (click)="menu.expand=!menu.expand"
                        [inlineSVG]="'assets/media/icons/duotune/arrows/arr072.svg'"></span>
                    </ng-container>
                    {{ menu.display }}
                  </td>
                  <ng-container *ngIf="menu.items?.length == null">
                    <td class="text-center w-75px">
                      <mat-checkbox [color]="'primary'" [(ngModel)]="menu.permission.isView"
                        [ngModelOptions]="{standalone: true}"
                        [checked]="isCheckedPermission(role.menuPermissions,menu.key,claimValue.View)"></mat-checkbox>
                    </td>
                    <td class="text-center w-75px">
                      <mat-checkbox [color]="'primary'" [(ngModel)]="menu.permission.isCreate"
                        [ngModelOptions]="{standalone: true}"
                        [checked]="isCheckedPermission(role.menuPermissions,menu.key,claimValue.Create)"></mat-checkbox>
                    </td>
                    <td class="text-center w-75px">
                      <mat-checkbox [color]="'primary'" [(ngModel)]="menu.permission.isEdit"
                        [ngModelOptions]="{standalone: true}"
                        [checked]="isCheckedPermission(role.menuPermissions,menu.key,claimValue.Edit)"></mat-checkbox>
                    </td>
                    <td class="text-center w-75px">
                      <mat-checkbox [color]="'primary'" [(ngModel)]="menu.permission.isDelete"
                        [ngModelOptions]="{standalone: true}"
                        [checked]="isCheckedPermission(role.menuPermissions,menu.key,claimValue.Delete)"></mat-checkbox>
                    </td>
                  </ng-container>
                </tr>
                <ng-container *ngFor="let subMenu of menu?.items">
                  <ng-container *ngIf="menu.expand">
                    <tr>
                      <td>
                        <label style="padding-left: 2em;">{{ subMenu.display }}</label>
                      </td>
                      <ng-container>
                        <td class="text-center w-75px">
                          <mat-checkbox [color]="'primary'" [(ngModel)]="subMenu.permission.isView"
                            [checked]="isCheckedPermission(role.menuPermissions,subMenu.key,claimValue.View)"
                            [ngModelOptions]="{standalone: true}"></mat-checkbox>
                        </td>
                        <td class="text-center w-75px">
                          <mat-checkbox [color]="'primary'" [(ngModel)]="subMenu.permission.isCreate"
                            [checked]="isCheckedPermission(role.menuPermissions,subMenu.key,claimValue.Create)"
                            [ngModelOptions]="{standalone: true}"></mat-checkbox>
                        </td>
                        <td class="text-center w-75px">
                          <mat-checkbox [color]="'primary'" [(ngModel)]="subMenu.permission.isEdit"
                            [checked]="isCheckedPermission(role.menuPermissions,subMenu.key,claimValue.Edit)"
                            [ngModelOptions]="{standalone: true}"></mat-checkbox>
                        </td>
                        <td class="text-center w-75px">
                          <mat-checkbox [color]="'primary'" [(ngModel)]="subMenu.permission.isDelete"
                            [checked]="isCheckedPermission(role.menuPermissions,subMenu.key,claimValue.Delete)"
                            [ngModelOptions]="{standalone: true}"></mat-checkbox>
                        </td>
                      </ng-container>
                    </tr>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="float-end" mat-dialog-actions>
      <button class="btn btn-sm btn-danger me-2" [mat-dialog-close]="false">Hủy bỏ</button>
      <button class="btn btn-sm btn-primary" [disabled]="formGroup.invalid || (isLoading$ | async)" [mat-dialog-close]
        (click)="onSave()">Xác nhận</button>
    </div>
  </form>
</ng-container>