<div class="d-flex align-items-center">
    <div class="flex-column-1" style=" width: 10%;">Phân loại</div>
    <div class="flex-column-1 w-100">
        <select value="" (change)="onSearchByType($event)" class="form-control form-control-solid">
            <option value="">Tất cả</option>
            <option *ngFor="let option of dropdownEventType$ | async" [value]="option.value">{{ option.text
                }}</option>
        </select>
    </div>
</div>
<div class="separator mb-3 mt-3"></div>

<div *ngIf="totalEvent$ | async as totalJob;else emptyTable">
    <div class="card mb-5 mb-xxl-8">
        <div class="card-body bg-light mt-4 pt-3 pb-0 cursor-pointer" *ngFor="let event of events$| async"
            (click)="onOpenEventDetail(event)" style="border-radius: 20px;">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center flex-grow-1">
                    <div class="row mb-3">
                        <span class="text-gray-400 fw-bold">Đăng {{ event.createdAt | dateAgo }}</span>
                    </div>
                </div>
                <div class="my-0">
                    <label class="badge badge-square p-3 me-3" [class.badge-danger]="event.isExpired"
                        [class.badge-primary]="event.isProgress" [class.badge-success]="event.isComming">
                        <span *ngIf="event.isComming">Sắp diên ra</span>
                        <span *ngIf="event.isProgress">Đang diễn ra</span>
                        <span *ngIf="event.isExpired">Đã kết thúc</span>
                    </label>
                    Phân lọai: <span class="badge badge-square p-3 " [class.badge-warning]="event.type==1"
                        [class.badge-primary]="event.type==2" [class.badge-success]="event.type==3"> {{ event.typeName
                        }}</span>

                </div>
            </div>
            <div class="mb-3">
                <label class="h3 fw-bolder mb-2 me-3">{{ event.title}}</label>

                <div class="row align-items-center mt-3">
                    <label>
                        <span class="svg svg-icon svg-icon-2 me-2"
                            [inlineSVG]="'./assets/media/icons/duotune/maps/map001.svg'">
                        </span>{{event.address}}
                    </label>
                </div>
                <div class="d-flex align-items-center mt-3">
                    <span class="svg svg-icon svg-icon-2 me-2"
                        [inlineSVG]="'./assets/media/icons/duotune/general/gen013.svg'"></span>
                    <label class="d-flex me-2"> Từ: </label>
                    <strong>{{ event.startDate | date:'HH:mm dd/MM/yyyy'}}</strong>
                    <label class="d-flex me-3 mx-3">-</label>
                    <label class="d-flex me-3"> Đến: </label>
                    <strong class="">{{ event.endDate | date:'HH:mm dd/MM/yyyy'}}</strong>
                </div>
            </div>
        </div>
    </div>
    <app-paginator *ngIf="(totalEvent$ | async)" class="d-flex justify-content-between align-items-center flex-wrap"
        [paginator]="(userView$ | async)?.paginator" (paginate)="paginate($event)"></app-paginator>
</div>

<ng-template #emptyTable>
    <div class="text-center mt-5">
        Hiện tại chưa có sự kiện nào
    </div>
</ng-template>