<div class="card mb-5">
    <div class="card-header">
        <h3 class="card-title">Thay đổi mật khẩu</h3>
    </div>
    <div class="card-body pb-0 pt-4">
        <form [formGroup]="formGroup">
            <div class="mb-5">
                <label for="oldPassword" class="form-label required">Mật khẩu cũ</label>
                <input id="oldPassword" formControlName="oldPassword" type="password" class="form-control form-control-solid" />
            </div>

            <div class="mb-5">
                <label for="newPassword" class="form-label required">Mật khẩu mới</label>
                <input id="newPassword" formControlName="newPassword" type="password" class="form-control form-control-solid" />
            </div>

            <div class="mb-5">
                <label for="confirmPassword" class="form-label required">Xác nhận mật khẩu</label>
                <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control form-control-solid" />
            </div>
        </form>
    </div>
    <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="submit" [disabled]="formGroup.invalid" class="btn btn-primary"
            id="kt_account_profile_details_submit" (click)="onSave()"> Xác nhận</button>
    </div>
</div>