<div class="card mb-5">
    <div class="card-body pb-0 pt-4" *ngIf="student$ | async as student">
        <div class="mt-0 mb-4 text-end">
            <a class="btn btn-sm btn-danger" style="vertical-align: middle;" [routerLink]="'/students'">
                <span class="svg svg-icon" [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'"></span>
                Quay lại
            </a>
        </div>
        <div class="d-flex flex-wrap flex-sm-nowrap">
            <div class="me-7 mb-4">
                <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                    <img src="assets/media/avatars/blank.png" alt="image" />
                </div>

            </div>
            <div class="flex-grow-1">
                <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-center mb-2">
                            <a href="javascript:void(0)" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">{{ student.fullName
                                }}</a>
                            <a href="javascript:void(0)">
                                <i class="ki-duotone ki-verify fs-1 text-primary">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </a>
                        </div>
                        <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                            <a href="javascript:void(0)"
                                class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                                <i class="ki-duotone ki-profile-circle fs-4 me-1">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                </i>{{ student.jobTitle }}</a>
                            <a href="mailto:{{student.email}}"
                                class="d-flex align-items-center text-gray-400 text-hover-primary mb-2">
                                <i class="ki-duotone ki-sms fs-4">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>{{ student.email }}</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-wrap flex-stack">
                    <div class="d-flex flex-column flex-grow-1 pe-8">
                        <div class="d-flex flex-wrap">
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                <div class="d-flex align-items-center">
                                    <i class="ki-duotone ki-arrow-up fs-3 text-success me-2">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                    <div class="fs-2 fw-bold">{{ student.countArchievement  }}</div>
                                </div>
                                <div class="fw-semibold fs-6 text-gray-400">Thành tích</div>
                            </div>
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                <div class="d-flex align-items-center">
                                    <i class="ki-duotone ki-arrow-down fs-3 text-danger me-2">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                    <div class="fs-2 fw-bold">{{student.schoolYear || '--' }}</div>
                                </div>
                                <div class="fw-semibold fs-6 text-gray-400">Niên khóa</div>
                            </div>
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                <div class="d-flex align-items-center">
                                    <i class="ki-duotone ki-arrow-up fs-3 text-success me-2">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                    <div class="fs-2 fw-bold">{{ student.yearOfGraduation || '--'}}</div>
                                </div>
                                <div class="fw-semibold fs-6 text-gray-400">Năm tốt nghiệp</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
            <li class="nav-item mt-2" *ngFor="let tab of studentTabs">
                <a class="nav-link text-active-primary ms-0 me-10 py-5" [class.active]="tabSelected === tab.href"
                    (click)="onChangeTab(tab.href)" [routerLink]="'/students/'+id" [queryParams]="{tab:tab.href}">{{
                    tab.text}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="card mb-5 mb-xl-10" id="kt_profile_details_view" *ngIf="student$ | async as student">
    <app-student-overview *ngIf="tabSelected === 'overview'" [student]="student"></app-student-overview>
    <app-student-achievement *ngIf="tabSelected === 'achievements'" [student]="student"></app-student-achievement>
    <app-student-setting *ngIf="tabSelected === 'setting'" [student]="student"></app-student-setting>
</div>