<div class="card">
  <div class="card-body">
    <div class="row">
      <div *ngFor="let type of settingTypes" class="col-md-4">
        <a class="d-flex" href="{{ type.href }}">
          <div class="d-flex flex-fill align-items-sm-center p-3 mb-7 setting-item bg-hover-secondary">
            <div class="symbol symbol-50px me-5">
              <span class="symbol-label">
                <span class="svg-icon svg-icon-1 svg-icon-primary" [inlineSVG]="type.icon"></span>
              </span>
            </div>
            <div class="d-flex align-items-center flex-row-fluid flex-wrap">
              <div class="flex-grow-1 me-2">
                <span class="text-gray-800 text-hover-primary fs-6 fw-bolder">{{ type.title }}</span>
                <span class="text-muted fw-bold d-block fs-7">{{ type.description }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>