<ng-container>
    <button class="flex float-end btn btn-sm btn-icon btn-white" style="border-radius: 50%;"
        (click)="onOpenEventDetail()">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr088.svg'"></span>
    </button>

    <div mat-dialog-title>
        <label class="fw-bolder">{{ event.title }}</label><br>
    </div>
    <div class="separator mb-3 mt-3"></div>

    <div class="pl-0 h-100" mat-dialog-content *ngIf="user$ | async as user">
        <form [formGroup]="formGroup">
            <div class="row mb-5">
                <div class="col-12">
                    <label class="required fw-bolder h3 m-0 p-0">Họ tên</label>
                    <input type="text" disabled [value]="user.fullName" class="form-control form-control-solid">
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12">
                    <label class="required fw-bolder h3 m-0 p-0">Số điện thoại</label>
                    <input type="text" formControlName="phoneNumber" class="form-control form-control-solid" placeholder="Số điện thoại">
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12">
                    <label class="required fw-bolder h3 m-0 p-0">Email</label>
                    <input type="email" formControlName="email" class="form-control form-control-solid" placeholder="Email">
                </div>
            </div>
           
            <div class="row mt-3">
                <div class="col-12">
                    <button class="btn btn-primary w-100" [disabled]="formGroup.invalid" (click)="onRegister()">Xác nhận</button>
                </div>
            </div>
        </form>
    </div>
</ng-container>