<h2 mat-dialog-title>
    <span *ngIf="id == null">Thêm mới</span>
    <span *ngIf="id!= null">Cập nhật</span> thành tích
</h2>
<div class="separator my-5"></div>
<form [formGroup]="formGroup" [appConnectForm]="studentAchievement">
    <div class="pl-0" mat-dialog-content>
        <div class="mb-5">
            <label for="name" class="form-label required">Thành tích</label>
            <input id="name" formControlName="name" type="text" class="form-control form-control-solid" />
        </div>

        <div class="mb-5 row">
           <div class="col-md-6">
            <label for="fromDate" class="form-label">Bắt đầu</label>
            <input id="fromDate" formControlName="fromDate" type="date" class="form-control form-control-solid" />
           </div>
           <div class="col-md-6">
            <label for="toDate" class="form-label">Kết thúc</label>
            <input id="toDate" formControlName="toDate" type="date" class="form-control form-control-solid" />
           </div>
        </div>

        <div class="mb-5">
            <label for="description" class="form-label">Tóm tắt</label>
            <input id="description" formControlName="description" type="text" class="form-control form-control-solid" />
        </div>
    </div>

    <div class="float-end" mat-dialog-actions>
        <button class="btn btn-sm btn-danger me-2" [mat-dialog-close]="false">Hủy bỏ</button>
        <button class="btn btn-sm btn-primary" [disabled]="formGroup.invalid"
            (click)="onSave()">Xác nhận</button>
    </div>
</form>